*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    color: #fff;
    text-decoration: none;
}
span{
    color: #fff;
}
button{
    padding: 15px 70px;
    border-radius: 8px;
    border: none;
    background-color: #060606;
    color: #fff;
}

h5{
    font-size: 15px;}
/*********page owe************/
.page1{
    background-image: url("../images/image-01.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 650px;
}
.header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    gap: 180px;
}
.logo{
    display: flex;
    align-items: center;
    color: #fff;
}
.logo img{
}
.furn p{
   font-size: 7px;
}
.furn h6{
    font-size: 15px; 
}

.line{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.linetop{
    display: flex;
    gap: 20px
}
.name1 , .name2 , .name3{
    display: flex;
    align-items: center;
    gap: 5px;
}
.spn{
    display: flex;
    gap: 15px;
}
.linebottom{
    display: flex;
    gap: 35px
}
.slide{
    position: relative;
    display: inline-block;
    left: 145px;
    top: 105px;
    font-size: 25px;
}
.slide h1 {
    margin-bottom: 10px;
}
.slide p {
    margin-bottom: 20px;
}

/*********card**************/
.card{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.card img{
    width: 90%;
}
.page2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-bottom: 22px;
}
.title p{
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
}
.title h3{
    font-size: 22px;
}
.cont{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}
.cont .top{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 30px;
}
.cont .left{
    background-image:url("../images/left.jpg");
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    background-size: 100%;
}
.cont .left p{
    font-size: 16px;
    margin-bottom: 22px;
}
.cont .left h5{
    font-size: 32px;
    margin-bottom: 8px;
}
.cont .left .discrip{
    position: relative;
    display: inline-block;
    left: 180px;
    top: 290px;
}
.cont .right{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    gap: 30px;
    background-size: 100%;
}
.cont .right p{
    font-size: 15px;
}
.cont .right h5{
    font-size: 17px;
}

.cont .top .one{
    background-image:url("../images/top1.jpg");
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
}
.cont .top .two{
    background-image:url("../images/top2.jpg");
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
}
.cont .bottom{
    background-image:url("../images/bottom.jpg");
    background-repeat: no-repeat;
    height: 50%;
    background-size: 100%;
}
.cont .right .top .discrip{
    display: inline-block;
    position: relative;
    left: 65px;
    top: 10px;
}
.cont .right .bottom .discrip{
    display: inline-block;
    position: relative;
    left: 15px;
    top: 155px;
}

/**********page3**********/
.page3{
    display: flex;
    justify-content: center;
}
.table{
   
    display: flex;
    width: 73%;
    height: 350px;
    gap: 15px;
}
.table .card1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
}
.table .card1 .img{
    display: flex;
    width: 100%;
    height: 100%;
}

