*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
button{
    padding: 15px 70px;
    border-radius: 8px;
    border: none;
    background-color: #060606;
    color: #fff;
}

h5{
    font-size: 15px;}
/*********page owe************/
.page1{
    background-image: url("../images/bhc2.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: right;
    height: 650px;
}
.header{
    display: flex;
    height: 100px;
    justify-content: space-around;
    gap: 130px;
}
.header a{color: #fff;}
.header span{color: #fff;}
.header .menu{
    display: none;
}
.logo{
    display: flex;
    align-items: flex-end;
    gap: 7px;
    color: #fff;
}
.logo img{
    width: 60px;
}
.furn p{
   font-size: 7px;
}
.furn h6{
    font-size: 15px; 
}

.header .line{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.linetop{
    display: flex;
    gap: 20px
}
.name1 , .name2 , .name3{
    display: flex;
    align-items: center;
    gap: 5px;
}
.spn{
    display: flex;
    gap: 15px;
}
.spn .prx{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 8px;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    bottom: 10px;
    right: 33px;
    color: #a0acba;
    background-color: #fff;
}
.linebottom{
    display: flex;
    gap: 35px
}
.slide{
    position: relative;
    display: inline-block;
    left: 720px;
    top: 140px;
    font-size: 24px;
}
.slide h1 {
    margin-bottom: 10px;
}
.slide p {
    margin-bottom: 20px;
}

/*********card**************/
.card{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.card img{
    width: 90%;
}
.page2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-bottom: 22px;
}
.title p{
    font-size: 20px;
    color: rgba(0, 0, 0, .54);
}
.title h3{
    font-size: 22px;
}
.cont{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: center;
    gap: 30px;
    margin-bottom: 70px;
}
.cont .top{
    display: flex;
    height: 50%;
    width: 100%;
    gap: 30px;
}
.cont .left{
    background-image:url("../images/left.jpg");
    background-repeat: no-repeat;
    width: 35%;
    height: 100%;
    background-size: 100%;
}
.cont .left p{
    font-size: 16px;
    margin-bottom: 22px;
}
.cont .left h5{
    font-size: 32px;
    margin-bottom: 8px;
}
.cont .left .discrip{
    position: relative;
    left: 180px;
    top: 290px;
}
.cont .right{
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100%;
    gap: 30px;
    background-size: 100%;
}
.cont .right p{font-size: 15px;}
.cont .right h5{font-size: 17px;}

.cont .top .one{
    background-image:url("../images/top1.jpg");
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
}
.cont .top .two{
    background-image:url("../images/top2.jpg");
    background-repeat: no-repeat;
    width: 50%;
    background-size: cover;
}
.cont .bottom{
    background-image:url("../images/bottom.jpg");
    background-repeat: no-repeat;
    height: 50%;
    background-size: 100%;
}
.cont .right .top .discrip{
    display: inline-block;
    position: relative;
    left: 65px;
    top: 10px;
}
.cont .right .bottom .discrip{
    display: inline-block;
    position: relative;
    left: 15px;
    top: 155px;
}

/**********page3**********/
.page3{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
.table{
    display: flex;
    width: 73%;
    height: 400px;
    gap: 25px;
}
.table .card1{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 25%;
}
.table .card1 .log1{
    display: flex;
    position: absolute;
    gap: 25px;
    left: 32px;
    bottom: 130px;
}
.table .card1 .comment-sp{
    color: #fff;
    padding: 9px;
    font-size: 20px;
    background-color: darkgray;
    border-radius: 50%;
}

.table .card1 .comment-sp:nth-child(1){
    background-color: #cead60;
    color: #060606;
}

.table .card1 img{
    display: flex;
    width: 100%;
    height: 72%;
    margin-bottom: 25px;
}


.table .card1 .cercle{
    display: flex;
    gap: 5px;
}
.table .card1 .cercle span{
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
}
.table .card1 .dicrip{
    display: flex;
    height: 25%;
    flex-direction: column;
    gap: 10px;
}
.table .card1 .dicrip h5{
    font-size: 18px;
    color: rgba(0,0,0,0.70);
}
.table .card1 .sp1{background-color: darkgrey;}
.table .card1 .sp2{background-color: aquamarine;}
.table .card1 .sp3{background-color: darksalmon;}
.table .card1 .sp4{background-color: #2FAB73;}
.table .card1 .sp5{background-color: chocolate;}

/*************page4************/
.page4{
    margin-bottom: 70px;
}
.page4 .design{
    display: flex;
    background-image: url("../images/03.jpg");
    margin-bottom: 60px;
    gap: 150px;
    align-items: center;
    justify-content: space-around;
}
.page4 .design img{
    width: 350px;
    height: 400px;
}
.slide2{font-size: 20px;}
.slide2 h1{margin-bottom: 10px;}
.slide2 p{
    margin-bottom: 20px;
    font-size: 16px;
}
.room{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.room .one{
    background-image: url("../images/top1.jpg");
    background-size: 100%;
    width: 480px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room .two{
    background-image: url("../images/top2.jpg");
    background-size: 100%;
    width: 480px;
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.room .care{
    display: inline-flex;
    width: 80%;
    height: 80%;
    background-color: rgb(255 255 255 / 50%);
    justify-content: center;
    align-items: center;
}
.room .care .discrip{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.room .care .discrip h5{
    font-size: 25px;
}
.room .care .discrip button{
    padding: 9px 35px;
    border-radius: 8px;
    border: none;
    background-color: #060606;
    color: #fff;
    font-size: 12px;
}

/**************page5*************/

.page5{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.design{
    display: flex;
    background-image: url(../images/furn2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}
.cont1{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 60%);
}
.cont1 h1{
    font-size: 44px;
    position: relative;
}
.forms{
    width: 30%;
    height: 80%;
    background-color: rgba(255,255,255,65%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text{
    width: 80%;
    height: 70%;
}
.text p{
    font-size: 15px;
    border-bottom: 1px solid grey;
    padding-bottom: 7px;
    margin-bottom: 18px;
}
.text  #lv{
    padding-bottom: 62px;
}

.text h4{
    font-size: 28px;
    margin-bottom: 20px;
}
.forms button{
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    background-color: #060606;
    color: #fff;
    position: relative;
    right: 90px;
}

.rectang{
    display: flex;
    width: 80%;
    height: 300px;
    justify-content: space-between;
    align-items: center;
}
.frame{
    display: flex;
    width: 23%;
    height: 55%;
    gap: 5px;
    flex-direction: column;
    border: 1.9px solid #cead60;
    align-items: center;
    justify-content: center;
}
.rectang .frame img{
    display: flex;
    width: 60px;
}
.rectang .frame p{
    font-size: 12px;
    color: rgba(0, 0, 0, 50%);
}
.rectang .frame h4{
    font-size: 20px;
    color: rgba(0, 0, 0, 70%);
}

/************page6***********/
.page6{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #eeeeee;
}
.part1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 73%;
    height: 335px;
    border-bottom: 2px solid rgba(0, 0, 0, 25%);
    padding: 65px 0px;
}
.page6 .part1 .logo{
    margin-bottom: 7px;
}
.page6 .part1 .logo p{font-size: 10px;}
.page6 .part1 .logo h6{font-size: 20px;}
.page6 .part1 .logo .furn{
    color: rgba(0, 0, 0, 70%);
}
.page6 .part1 #p1{   
     font-size: 20px;
     margin-bottom: 35px;
     color: rgba(0, 0, 0, 70%);
    }
.page6 .part1 #p2{
    width: 46%;
    font-size: 18px;
    padding-bottom: 5px;
    color: rgba(0, 0, 0, 50%);
    border-bottom: 2px solid rgba(0, 0, 0, 25%);
    }
.page6 .part1 #log2{
    width: 22px;
    position: relative;
    left: 215px;
    bottom: 25px; 
    background-color: #c1b8b8;
}
/*******page6 part2********/
.page6 .part2 .social img{
    width: 20px;
}
.page6 .part2{
    display: flex;
    justify-content: space-between;
    width: 73%;
    border-bottom: 2px solid rgba(0, 0, 0, 25%);
    padding: 65px 0px;
}
.page6 .part2 .onlist{
    display: flex;
    gap: 60px;
}
.page6 .part2 h4{
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 70%);
}
.part2 .onlist ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.part2 .onlist ul a{color: rgba(0, 0, 0, 60%);}
.part2 .find .line{
    display: flex;
    gap: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 60%);;
}
.page6 .part2 .social img{
    width: 32px;
    padding: 4px;
    margin-right: 5px;
    background-color: rgba(0,0,0,6%);
    border: 1px solid rgba(0,0,0,24%);
    color: white;
}

/*********part3***************/

.part3{
    display: flex;
    width: 73%;
    justify-content: space-between;
    padding: 30px 0px;
}
.part3 .copy{}
.part3 .copy p{}
.part3 .visa{
    display: flex;
    gap: 10px;
}
.part3 .visa a{
    width: 50px;
    height: 30px;
    border-radius: 4px;
    background-color: #fff;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3 .visa a:nth-child(4){background-color: #9784ff;}
.part3 .visa a:nth-child(5){background-color: #a1037a;}
.part3 .visa img{
    width: 65%;
    height: 87%;
}
.part3 .copy p {
     color: rgba(0, 0, 0, 60%);
}


/***********media Queries*********/

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    
  }
  
  /* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    /**********page one***********/
    .header{gap: 50px;}
    .header .logo img{width: 70px;}
    .header .line{font-size: 21px;}
    .furn h6 {font-size: 18px;}
    .furn p {font-size: 10px;}
    .page1 .slide{
        position: relative;
        font-size: 22px;
        top: 170px;
        left: 470px;
    }
    .page1 .slide button{font-size: 20px;}
        /**********page one***********/

        /**********page TWO***********/
        .cont{
            width: 90%;
            gap: 10px;
        }
        .cont .left{width: 100%;}
        .cont .left .discrip{
            display: inline-block;
            left: 35px;
            top: 280px;
        }
        .cont .left P {font-size: 18px;}
        .cont .right{
            width: 100%;
            gap: 10px;
        }
        .cont .top {gap: 10px;}
        .cont .right .top .discrip{left: 16px;}

       
        /**********page TWO***********/

        /**********page 03***********/

        .page3{margin-bottom: 40px;}
        .table{width: 90%;}
        .table .card1{width: 47%;} 
        .table .card1 img{margin-bottom: 12px;}
        .table .card1 .dicrip h5{font-size: 25px;}
        .table .card1 .cercle{font-size: 25px;}
        .table .card1 .dicrip .price{font-size: 25px;}
        .table .card1 .comment-sp{
            padding: 7px;
            font-size: 14px;
        }
    
        /**********page 03***********/

        /**********page 04***********/

        .page4{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .room {width: 90%;}
        .room .one{width: 50%;}
        .room .two{width: 50%;}
        .slide2 p {font-size: 20px;}

        /**********page 04***********/

        /**********page 05***********/
        .forms button{right: 50px;}
        .rectang .frame p{font-size: 15px;}
        
        /**********page 05***********/

        /**********page 06***********/

        .page6 .part1{
            height: auto;
            gap: 10px;
        }
        .page6 .logo img {width: 75px;}
        .page6 .part1 .logo h6 {font-size: 18px;}
        .page6 .part1 .logo p {font-size: 10px;}
        .page6 .part1 #p2 {
            width: 75%;
            font-size: 20px;
        }
        .page6 .part1 #log2{
            width: 30px;
            left: 265px;
            bottom: 44px;
        }
        .page6 .part2{width: 90%;}
        .page6 .part3{width: 90%;}
        .part2 .onlist ul {align-items: center;}
        .page6 .part2 h4 {
            display: flex;
            justify-content: center;
        }
        /**********page 06***********/
   
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {

      /**********page one***********/
      .header{
        height: 105px;
        gap: 218px;
        align-items: center;
    }
    .header .logo img{width: 80px;}
    .furn h6 {font-size: 20px;}
    .furn p {font-size: 11px;}
    .header .line{display:none ;}
    .header .menu{display: flex; font-size: 40px;}
    .page1 .slide{
        position: absolute;
        font-size: 22px;
        left: 100px;
        top: 340px;
    }
    .page1 .slide button{
        padding: 15px 50px;
        font-size: 20px;
    }
        /**********page one***********/

        /**********page TWO***********/
        .title {width: 90%;}
        .cont{
            width: 90%;
            gap: 10px;
        }
        .cont .left{width: 100%;}
        .cont .left .discrip{
            display: inline-block;
            left: 35px;
            top: 280px;
        }
        .cont .left P {font-size: 18px;}
        .cont .right{
            width: 100%;
            gap: 10px;
        }
        .cont .top {gap: 10px;}
        .cont .right .top .discrip{left: 16px;}

       
        /**********page TWO***********/

        /**********page 03***********/

        .page3{margin-bottom: 40px;}
        .table{
            width: 65%;
            height: auto;
            flex-wrap: wrap;
            gap: 26px;
        }
        .table .card1{width: 47%;} 
        .table .card1 img{margin-bottom: 12px;}
        .table .card1 .dicrip h5{font-size: 25px;}
        .table .card1 .cercle{font-size: 25px;}
        .table .card1 .dicrip .price{font-size: 25px;}
        /* .table .card1 .log1{
            gap: 13px;
            left: 15px;
            bottom: 100px;
        } */
        .table .card1 .comment-sp{
            padding: 7px;
            font-size: 14px;
        }
    
        /**********page 03***********/

        /**********page 04***********/

        .page4{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
        }
        .room {width: 90%;}
        .room .one{width: 50%;}
        .room .two{width: 50%;}
        .page4 .design img{display: none;}
        .slide2 p {font-size: 20px;}

        /**********page 04***********/

        /**********page 05***********/
        .cont1 h1{font-size: 30px;}
        .forms{width: 45%;}
        .forms button{right: 50px;}

        .rectang{
            flex-wrap: wrap;
            margin: 20px 0px;
        }
        .frame{width: 46%; height: 130px;}
        .rectang .frame p{font-size: 15px;}
        
        /**********page 05***********/

        /**********page 06***********/

        .page6 .part1{
            height: auto;
            gap: 10px;
            padding: 12px 0px;
        }
        .page6 .logo img {width: 60px;}
        .page6 .part1 .logo h6 {font-size: 16px;}
        .page6 .part1 .logo p {font-size: 9px;}
        .page6 .part1 #p1 {
            font-size: 14px;
            margin-bottom: 10px;
        }
        .page6 .part1 #p2 {
            width: 75%;
            font-size: 14px;
        }
        .page6 .part1 #log2{
            width: 22px;
            left: 122px;
            bottom: 36px;
        }
        .page6 .part2{
            width: 90%;
            align-items: center;
        }
        .page6 .part2 .onlist {
            gap: 0px;
            flex-wrap: wrap;
        }
        .page6 .part2 .find{
            gap: 30px;
            display: flex;
            flex-direction: column;
        }
        .page6 .onlist .list{width: 45%; margin-bottom: 15px;}
        .page6 .part3{
            width: 90%;
            flex-direction: column;
            padding: 15px 0px;
            gap: 13px;
        }
        .part3 .visa a {
            width: 45px;
            height: 25px
        }
        .part3 .copy {font-size: 12px;}
        .page6 .part2 h4 {
            display: flex;
            justify-content: center;
        }
        .part2 .onlist ul {align-items: center;}
        /**********page 06***********/
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
  
         /**********page one***********/
         .header{
            height: 80px;
            gap: 218px;
            align-items: center;
        }
        .header .line{display:none ;}
        .header .menu{display: flex; font-size: 35px;}
        .page1 .slide{
            position: absolute;
            font-size: 18px;
            left: 50px;
            top: 270px;
        }
            /**********page one***********/
    
            /**********page TWO***********/
            .title {
                width: 90%;
                gap: 6px;
                align-items: normal;
                margin-bottom: 15px;
            }
            .title h3{font-size: 20px;}
            .title P {font-size: 20px;}
    
            .cont{
                align-items: center;
                flex-direction: column;
                width: 90%;
                height: 670px;
                gap: 15px;
                margin-bottom: 22px;
            }
            .cont .left{width: 100%;}
            .cont .left .discrip{
                display: inline-block;
                left: 45px;
                top: 120px;
            }
            .cont .left h5 {font-size: 27px;}
            .cont .left P {font-size: 18px;}
            .cont .left button {padding: 12px 32px;}
    
            .cont .right{
                width: 100%;
                gap: 5px;
            }
            .cont .top {gap: 10px;}
            .cont .right .top .discrip{
                left: 47px;
                top: 5px;
            }
            .cont .right .bottom .discrip{
                left: 10px;
                top: 80px;
            }
            /**********page TWO***********/
    
            /**********page 03***********/
    
            .page3{margin-bottom: 40px;}
            .table{
                width: 90%;
                height: auto;
                flex-wrap: wrap;
                gap: 11px;
            }
            .table .card1{width: 48%;} 
            .table .card1 img{margin-bottom: 12px;}
            /* .table .card1 .log1{
                gap: 13px;
                left: 15px;
                bottom: 100px;
            } */
            .table .card1 .comment-sp{
                padding: 7px;
                font-size: 14px;
            }
        
            /**********page 03***********/
    
            /**********page 04***********/
    
            .page4{
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 40px;
            }
            .page4 .design{margin-bottom: 25px;}
            .page4 .design img{display: none;}
            .slide2{font-size: 18px;}
            .page4 .slide2 button{padding: 12px 40px;}
            .room {
                width: 90%;
                flex-direction: column;
                gap: 15px;
            }
            .room .one{width: auto;}
            .room .two{width: auto;}
    
            /**********page 04***********/
    
            /**********page 05***********/
            .rectang{
                flex-wrap: wrap;
                width: 90%;
                margin-top: 20px;
            }
            .frame{width: 46%; height: 120px;}
            .rectang .frame h4{font-size: 15px;}
            .rectang .frame p{font-size: 12px;}
            .cont1 h1{display: none;}
            .forms{width: 90%;}
            .forms button{right: 50px;}
          
            /**********page 05***********/
    
            /**********page 06***********/
    
            .page6 .part1{
                height: auto;
                gap: 10px;
                padding: 12px 0px;
            }
            .page6 .logo img {width: 60px;}
            .page6 .part1 .logo h6 {font-size: 16px;}
            .page6 .part1 .logo p {font-size: 9px;}
            .page6 .part1 #p1 {
                font-size: 14px;
                margin-bottom: 10px;
            }
            .page6 .part1 #p2 {
                width: 75%;
                font-size: 14px;
            }
            .page6 .part1 #log2{
                width: 22px;
                left: 122px;
                bottom: 36px;
            }
            .page6 .part2{
                width: 90%;
                gap: 15px;
                align-items: center;
                flex-direction: column;
                padding: 35px 0px;
            }
            .page6 .part2 .onlist {
                gap: 28px;
                flex-wrap: wrap;
                margin-top: 15px;
            }
            .page6 .onlist .list{width: 45%;}
            .page6 .part3{
                width: 90%;
                flex-direction: column;
                padding: 15px 0px;
                gap: 13px;
            }
            .part3 .visa a {
                width: 45px;
                height: 25px
            }
            .part3 .copy {font-size: 12px;}
            .page6 .part2 h4 {
                display: flex;
                justify-content: center;
            }
            .part2 .onlist ul {align-items: center;}
            /**********page 06***********/
 

}
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

         /**********page one***********/
    .header{
        height: 80px;
        align-items: center;
    }
    .header .line{display:none ;}

    .header .menu{display: flex;}
    .page1 .slide{
        position: absolute;
        font-size: 11px;
        left: 40px;
        top: 270px;
    }
        /**********page one***********/

        /**********page TWO***********/
        .title {
            width: 90%;
            gap: 5px;
            align-items: normal;
            margin-bottom: 15px;
        }
        .title h3{font-size: 18px;}
        .title P {font-size: 16px;}

        .cont{
            align-items: center;
            flex-direction: column;
            width: 90%;
            height: 670px;
            gap: 15px;
            margin-bottom: 22px;
        }
        .cont .left{width: 100%;}
        .cont .left .discrip{
            display: inline-block;
            left: 30px;
            top: 150px;
        }
        .cont .left h5 {font-size: 22px;}
        .cont .left P {font-size: 14px;}
        .cont .left button {padding: 12px 32px;}

        .cont .right{
            width: 100%;
            gap: 5px;
        }
        .cont .top {gap: 5px;}
        .cont .right .top .discrip{
            left: 3px;
            top: 0px;
        }
        .cont .right .bottom .discrip{
            left: 5px;
            top: 80px;
        }
        /**********page TWO***********/

        /**********page 03***********/

        .page3{margin-bottom: 40px;}
        .table{
            width: 90%;
            height: auto;
            flex-wrap: wrap;
            gap: 11px;
        }
        .table .card1{width: 48%;} 
        .table .card1 img{margin-bottom: 12px;}
        /* .table .card1 .log1{
            gap: 13px;
            left: 15px;
            bottom: 100px;
        } */
        .table .card1 .comment-sp{
            padding: 7px;
            font-size: 14px;
        }
    
        /**********page 03***********/

        /**********page 04***********/

        .page4{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 40px;
        }
        .page4 .design{margin-bottom: 25px;}
        .page4 .design img{display: none;}
        .slide2{font-size: 16px; padding: 0px 10px;}
        .page4 .slide2 button{padding: 12px 40px;}
        .room {
            width: 90%;
            flex-direction: column;
            gap: 15px;
        }
        .room .one{width: auto;}
        .room .two{width: auto;}

        /**********page 04***********/

        /**********page 05***********/
        .rectang{
            flex-wrap: wrap;
            width: 90%;
            margin-top: 20px;
        }
        .frame{width: 46%; height: 120px;}
        .rectang .frame h4{font-size: 13px;}
        .rectang .frame p{font-size: 10px;}
        .cont1 h1{display: none;}
        .forms{width: 90%;}
        .forms button{right: 50px;}
      
        /**********page 05***********/

        /**********page 06***********/

        .page6 .part1{
            height: auto;
            padding: 12px 0px;
        }
        .logo img {width: 35px;}
        .page6 .part1 .logo h6 {font-size: 12px;}
        .page6 .part1 .logo p {font-size: 6px;}
        .page6 .part1 #p1 {
            font-size: 12px;
            margin-bottom: 10px;
        }
        .page6 .part1 #p2 {
            width: 75%;
            font-size: 13px;
        }
        .page6 .part1 #log2{
            width: 16px;
            left: 79px;
            bottom: 19px;
        }
        .page6 .part2{
            width: 90%;
            align-items: center;
            flex-direction: column;
            padding: 35px 0px;
        }
        .page6 .part2 .onlist {
            gap: 28px;
            flex-wrap: wrap;
            margin-top: 15px;
        }
        .page6 .onlist .list{width: 45%;}
        .page6 .part3{
            width: 90%;
            flex-direction: column;
            padding: 15px 0px;
            gap: 13px;
        }
        .part3 .visa a {
            width: 45px;
            height: 25px
        }
        .part3 .copy {font-size: 12px;}
        .page6 .part2 h4 {
            display: flex;
            justify-content: center;
        }
        .part2 .onlist ul {align-items: center;}
        /**********page 06***********/
  }